<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<br><br><br><br>

    <table class="table stats caps">
      <thead>
 <tr style="background:#e73a3f;color:#e6f0f9; border-radius:6px;">
  <th>Title:</th>
  <th>Description:</th>
  <th>Deadline:</th>
  <th>Money:</th>
  <th>Total:</th>
  <th>Start date:</th>
  <th>End date:</th>
  
</tr>
</thead>
<tbody>
  <tr>
    <td><%= @invoice.title %></td>
    <td><%= @invoice.description %></td>
    <td><%= @invoice.deadline %></td>
    <td> <%= @invoice.money %></td>
    <td><%= @invoice.total %></td>
    <td><%= @invoice.start_date %></td>
    <td><%= @invoice.end_date %></td>
  </tr>
</tbody>
</div>
</table>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: ""%> |
<%= link_to 'Back', invoices_path,class: "" %>

<%#= link_to 'Order', charges_new_path%>
<a class="btn btn-danger btn-lg btn-block btn-huge" href="/charges/new">Place Order</a>

<style type="text/css">
  btn-huge{
    padding-top:20px;
    padding-bottom:20px;
}

.btn-block {
    display: block;
    width: 15%;
}
</style>