<br><br><br><br>

<h1>List of Referal Agents</h1>

 <table class=" myTable table table-hover">
  <thead>
    <tr style="border-style: ridge;">
      <th>Name</th>
      <th>email</th>
      <th>Contact</th>
      <th>City</th>
      <th>Gender</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ra.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.city %></td>
        <td><%= user.gender %></td>
        <td><%= user.address %></td>
        <!-- <td><%#= user.try(:invoice).try(:title) %></td> -->

          <td><%= link_to 'Show Invoice',  user_invoice_ra_index_path(user_id: user.id), class: "btn btn-3" %></td>
      </tr>
    <%end %>
  </tbody>
</table>
