<br><br><br><br>



 <table class=" myTable table table-hover">
  <thead>
<th colspan="8" style="background-color:#5E1D55;color:white;"><h3>Referal Agent`s Invoice</h3></th>
   <tr style="background-color:#32A9EE;color:white;">
    	<th>TITLE</th>
        <th>DESCRIPTION</th> 
        <th>DEADLINE</th>
        <th>MONEY</th>
        <th>TOTAL</th>
        <th>INVOICE DATE</th>
        <th>Comment</th>
        <th></th>
        <th></th>
    </tr>

</thead>
</tr>
<body>
<tr>
  <%invoice_id = RaComment.where(user_id: params[:user_id]).first.try(:invoice_id)
  if invoice_id
      @invoice = Invoice.find(invoice_id)
     @comment = RaComment.where(invoice_id:  @invoice.id).first.comment
   end
   %>
   <% if invoice_id %>
            <td><%= @invoice.try(:title)%></td>
            <td><%= @invoice.try(:description)%></td>
            <td><%= @invoice.try(:deadline)%></td>
            <td><%= @invoice.try(:money)%></td>
            <td><%= @invoice.try(:total)%></td>
            <td><%= @invoice.try(:start_date)%><br></td>
            <td><%= @comment %><br></td>
            <% else %>
          </tr>
        <caption align="bottom">There is No Invoice asigned to you! Please stay Connected with us ! :-)</caption> 
            <% end %>
<style type="text/css">
.abc{
 float:left;
  list-style:none;
}
.xyz{
	background-color: #ff0000;
}
.abc{
	background-color: #8af103;
}
.hidden-form{
  visibility:hidden;
  }
.show-form{
visibility: visible !important;
}
</style>
<script type="text/javascript">
   $('.abc').click(function(){
$(this).next().toggleClass('show-form');
});
   $('.xyz').click(function(){
$(this).next().toggleClass('show-form');
});
</script> 

