<br><br><br><br>
 <table class=" myTable table table-hover">
  <thead>
    <th colspan="8" style="background-color:#5E1D55;color:white;"><h3>List of Finance Teams</h3></th>
  <tr style="background-color:#32A9EE;color:white;">
      <th>Name</th>
      <th>email</th>
      <th>Contact</th>
      <th>City</th>
      <th>Gender</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finance.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.city %></td>
        <td><%= user.gender %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show Invoice',  ras_invoice_finance_path(user_id: user.id), class: "btn btn-danger btn-lg btn-block btn-huge" %></td>
      </tr>
    <% end %>
  </tbody>
</table>